<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dicey</title>
  </head>
  <body>

    <header>
      <h1>Dicey!</h1>
    </header>

    <div id="main">
      {% block body %}{% endblock %}
    </div>

    <footer>
      <p><a id="main-menu" href="/menu">Main menu</a></p>
      <p><a target="_blank" href="http://sandcastle.co">Sandcastle Games</a></p>
    </footer>

    <script src="/scripts/Game.js"></script>
    <script src="/scripts/Scene.js"></script>
    <script src="/scripts/main.js"></script>

  </body>
</html>
