<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dicey</title>
    <link rel="stylesheet" href="/styles/main.css">
    {% if refresh %}
      <meta http-equiv="refresh" content="{{ refresh.time }};url={{ refresh.location }}">
    {% endif %}
  </head>
  <body>

    <header>
      <h1>Dicey!</h1>
    </header>

    <div id="main">
      {% block body %}{% endblock %}
    </div>

    <footer>
      <p><a id="main-menu" href="/menu">Main menu</a></p>
      <p><a target="_blank" href="http://sandcastle.co">Sandcastle Games</a></p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>
    <script src="/scripts/Canvas.js"></script>
    <script src="/scripts/Game.js"></script>
    <script src="/scripts/Scene.js"></script>
    <script src="/scripts/Die.js"></script>
    <script src="/scripts/Table.js"></script>
    <script src="/scripts/geometries/dice.js"></script>
    <script src="/scripts/scenes/home.js"></script>
    <script src="/scripts/scenes/menu.js"></script>
    <script src="/scripts/scenes/challenge.js"></script>
    <script src="/scripts/scenes/guess.js"></script>
    <script src="/scripts/scenes/result.js"></script>
    <script src="/scripts/main.js"></script>

  </body>
</html>
